*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  background: #e7e7e7;
}

.icon{
  fill: rgb(112,117,121);
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  transition: background-color 0.1s;
}
.icon:hover{
  background-color: rgba(112, 117, 121, 0.11);
}